.idea/
.vscode/
node_modules
dist/
yarn.lock
.yarn/
.yarnrc.yml
.pnp.js
program
tmp/
vendor/
composer.lock
target/
Cargo.lock
.env
config.json
.DS_Store
/.svelte
/.svelte-kit
/build
/functions
pnpm-lock.yaml
package-lock.json
.pnpm-debug.log
*.elf
commit.sh
